{% extends 'songbird/common_initial.html' %}

{% block content %}
<div class="container">
    <h1>{{ playlist.name }}</h1>
    <h4>Created by: 
        {% if request.user.is_authenticated %}
            <a href="{% url 'follow_profile' playlist.user.id %}" style="color: white">{{ playlist.user.username }}</a>
        {% else %}
            <a href="#" class="login-prompt" data-username="{{ user.username }}" style="color: white">{{ playlist.user.username }}</a>
        {% endif %} </h4>  
    <p>Style: {{ playlist.genre }}</p>
    <input type="hidden" id="playlist-id" value="{{ playlist.id }}">
    <ul class="list-unstyled">
        {% for song in playlist.songs.all %}
            <li class="song-container d-flex justify-content-between align-items-center py-2">
                <div class="song-details">
                    <h3 class="m-0">{{ song.title }}</h3>
                    <p class="m-0 text-muted">{{ song.artist }}</p>
                </div>
                <div class="song-progress">
                    <input type="range" min="0" max="100" value="0" step="1" class="progress-bar" id="progress-bar-{{ song.id }}">
                    <span class="current-time" id="current-time-{{ song.id }}">0:00</span>
                </div>
                <div class="song-actions">
                    {% if request.user == playlist.user %}
                        <a href="{% url 'remove_song_from_playlist' playlist.id song.id %}" class="btn btn-danger btn-sm">Remove</a>
                    {% endif %}
                    {% if song.id %}
                        <input type="hidden" id="increment-url-{{ song.id }}" value="{% url 'increment_play_count_song' song.id %}">
                        <button class="btn btn-primary btn-sm play-button" id="play-button-{{ song.id }}" data-audio="{{ song.get_audio_url }}" data-song-id="{{ song.id }}">Play</button>
                        <button class="btn btn-secondary btn-sm stop-button" id="stop-button-{{ song.id }}" data-audio="{{ song.get_audio_url }}">Stop</button>
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-sm favorite-button" data-song-id="{{ song.id }}">
                                {% if song in user_profile.favorite_songs.all %}
                                    <i class="fa fa-heart favorite-heart"></i> 
                                {% else %}
                                    <i class="fa fa-heart"></i> 
                                {% endif %}
                            </button>
                            <div class="dropdown">
                                <button class="btn btn-sm add-to-playlist-button dropdown-toggle" type="button" id="dropdownMenuButton" data-song-id="{{ song.id }}">
                                    <i class="fa fa-plus"></i> 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    
                                </div>
                            </div>
                        {% else %}
                            <button class="btn btn-sm favorite-button " data-song-id="{{ song.id }}">
                                <i class="fa fa-heart"></i> 
                            </button>
                            <button class="btn btn-sm add-to-playlist-button" data-song-id="{{ song.id }}">
                                <i class="fa fa-plus"></i> 
                            </button>
                        {% endif %}
                    {% else %}
                        <p>Invalid song ID</p>
                    {% endif %}   
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% load static %}
<script src="{% static 'js/add_playlist_and_favorites.js' %}"></script>
{% endblock %}
