.profile {
    background-color: black; /* Sfondo nero */
    color: white; /* Testo bianco */
    font-family: Arial, sans-serif; /* Tipo di carattere */
    margin: 0; /* Rimuovi i margini */
    padding: 0; /* Rimuovi il padding */
}
.img_profile{
    width:30px;
    height:auto;
}
/* styles.css */
#left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.modify-profile-link:hover {
    color: aquamarine; 
}
