.profile {
    background-color: black;
    color: white; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0; 
}
.img_profile{
    width:30px;
    height:auto;
}
#left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.modify-profile-link:hover {
    color: aquamarine; 
}
